.char_name_textbox {
    min-width: 100px;
    height: 30px;
}
.outer_stack {
    row-between: 8px;
    child-space: 8px;
}

.outer_stack > hstack {
    background-color: aqua;
    height: auto;
    child-top: 1s;
    child-bottom: 1s;
    col-between: 4px;
    child-left: 20px;
}
.outer_stack > hstack > combobox {
    background-color: red;
    width: 100px;
}
.outer_stack > hstack > label {
    width: 50%;
}